<section class="main container center-align">
  <% if flash[:success].present? %>
    <div class="flash-success">
      <p>
        <i class="material-icons alert-success "></i>
        <%= flash[:success] %>
      </p>
    </div>
  <% end %>
  <h1>Uncertified Artisans</h1>
  <% if @uncertified_artisans.empty? %>
    <p> There are no uncertified artisans at the moment. </p>
  <% else %>
  <table class="table striped">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
    </thead>
    <tbody>
      <% @uncertified_artisans.each do |artisan| %>
      <tr>
        <td> <%= artisan.firstname %></td>
        <td> <%= artisan.lastname %></td>
        <td> <%= link_to 'Certify', new_admin_ratings_path(artisan.id),
        :class => "btn btn-large" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <a href="#email_modal" id="reject" class="btn info_btn modal-trigger<%="s disabled" if User.artisans.rejected.empty? %>" style="margin: 20px"> Email Rejected Applicants</a>


   <div id="email_modal" class="modal info_modal" style="padding:5px">
                <div class="modal-content">
                  <h4>Edit Email</h4>
                 </div>
                 <div>
                   <textarea id="email-body" style="height:440px; padding: 20px ">

  Thank you for applying to be a Workdey Artisan. We regret to inform you that you did not make it to the next stage.

  Kindly take some time to improve on the areas were pointed out by our recruitment team.

  We shall be accepting new applications between <%= strptime(7.days.from_now) %> and <%= strptime(14.days.from_now) %>

  Wishing you all the best.

  Many thanks,

  The Workdey Team.
                   </textarea>
                 </div>
                 <div class="modal-footer">
      <a href="#!" id="send" onclick="send_email()"
        class=" waves-effect waves-green btn-flat">Send</a>
    </div>


        </div>
</section>
