<div class="row container submit-request-row">
  <div class="col m7 submit-request-column">
    <div class="card">
      <div class="row">
        <div class="col m4">
          <div class="card-image">
            <img src="<%= asset_path('service_request.png') %>">
          </div>
        </div>

        <div class="col m8">
          <div class="card-stacked">
            <div class="card-content">
              <div class="row">
                <p id="notice"><%= notice %></p>
              </div>

              <div class="row">
                <strong>Title:</strong><br>
                <%= @service.title %>
              </div>

              <div class="row">
                <strong>Description:</strong><br>
                <%= @service.description %>
              </div>

              <div class="row">
                <strong>Duration:</strong><br>
                <%= @service.duration.round %> day(s)
              </div>
            </div>

            <div class="card-action">
              <div class="row">
                <div class="chip">
                  <%= @service.skillset.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
