<main>
  <%#= render "partials/sidebar_dashboard" %>
  <div class="row">
    <h3 class="center-align">Assign Task</h3>
      <div class= "col s8 offset-s2" >
        <%= form_for @task, url: create_task_path, html: { class: "assign-form" } do |f| %>
          <%= render "partials/error_msg", object: @task %>

          <%= f.hidden_field :task_name, value: session[:searcher] %>
          <%= f.hidden_field :tasker_id, value: current_user.id %>
          <%= f.hidden_field :taskee_id, value: @taskee_id %>

          <div class="row">
            <div class="col s8">
              <div class="group">
                <%= f.label :task_name, "Task Name:" %>
                <%= f.text_field :task_name, value: session[:searcher], disabled: true %>
              </div>

              <div class="group">
                <%= f.label :amount, "Amount:" %>
                <%= f.text_field :amount, required: true %>
              </div>

              <div class="group row">
                <div class="col s12">
                  <%= f.label "I want this task to be done on:" %>
                </div>
                <div class="col s6">
                  <%= select_month Date.today %>
                </div>

                <div class="col s6">
                  <%= select_day Date.today %>
                </div>

                <div class="col s12">
                  <%= select :time_range, "task" do %>
                    <%= content_tag :option, "Anytime 8am - 8pm" %>
                    <%= content_tag :option, "Morning 8am - 12pm", selected: true %>
                    <%= content_tag :option, "Afternoon 12pm - 4pm" %>
                    <%= content_tag :option, "Evening 4pm - 8pm" %>
                  <% end %>
                </div>
              </div>

              <div class="group">
                <%= f.label :task_desc, "Give a little bit more info about this task:" %>
                <%= f.text_area :task_desc, placeholder: "EXAMPLE: I have 3 bedrooms and it really needs deep cleaning.", required: true %>
              </div>
            </div>

            <div class="col s4">
              <div class="card-panel center-align">
                <%= cl_image_tag @taskee.image_url %>
                <p class="center-align">
                  <%= "#{@taskee.firstname} #{@taskee.lastname}" %>
                </p>
                <%= f.button "Notify Taskee", class: "btn" %>
              </div>
            </div>
          </div>
        <% end %>


        <% form_tag do%>
        <% id = params["id"].nil? ? nil : params["id"] %>
        <%= label_tag "Taskee ID:" %>

        <% if id %>
          <%= text_field_tag "taskee_id", "#{id}", disabled: true %>
        <% else %>
          <%= text_field_tag "taskee_id", "#{id}" %>
        <% end %>

        <%= label_tag "Amount:" %>
        <%= text_field_tag "amount" %>

        <%= label_tag "I Want This Task To Be Done On:" %>
        <div class= "row">
          <div class= "col m4 left">
            <%= select_day(Date.today)%>
          </div>
          <div class= "col m4 left">
            <%= select_month(Date.today)%>
          </div>
          <div class= "col m4 left">
            <%= text_field_tag "year", Time.now.year, disabled: true %>
          </div>
        </div>

        <%= label_tag "Description:" %>
        <%= text_area_tag "description" %>

        <button class="btn waves-effect" type="submit">NOTIFY TASKEE</button>
        <% end %>
    </div>
  </div>
</main>
