<header class="center-align">
  <%= link_to "Workdey", dashboard_path, class: "brand-logo" %>
</header>

<main class="center-align">
  <section class="intro container">
    <%= render partial: "partials/flash" %>
    <header>
      <h1>
        Hi, <%= "#{current_user.firstname} #{current_user.lastname}" %>
      </h1>
      <p>
        Just a few quick things to get your account all set up
      </p>
    </header>

    <h3>How would you like to use this platform?</h3>
    <div class="roles">
      <button class="btn btn-tasker">
        I need help with tasks <i class="material-icons left">weekend</i>
      </button>

      <button class="btn btn-artisan">
        I want to carry out tasks <i class="material-icons left">directions_bike</i>
      </button>
    </div>
  </section>

  <%= render "partials/tasker_guidelines" %>
  <%= render "partials/artisan_guidelines" %>

</main>
