<section class="col m9 s12 offset-m1">
  <div class="row">
    <ul class= "col m8 offset-m2" >
      <h2>User Profile Settings</h2>
      <%= render partial: "partials/flash" %>
      <%= form_tag(profile_path, method: [:post, :get]) do %>
        <li><strong><%= label_tag "first name" %></strong><%= text_tags("firstname", "", "ikem", "validate", true) %></li>
        <li><strong><%= label_tag "last name" %></strong><%= text_tags("lastname", "", "okonkwo", "validate", true) %></li>
        <li><strong><%= label_tag "email" %></strong><%= email_tags("email", "", "ikem@workdey.com", "validate", true)  %></li>
        <li><%= select_tag "gender", options_for_select(["Gender", "Male", "Female", "Others"], "Gender") %>
        </li>
        <li>
          <%= select_day(nil, prompt: "Day")%>
        </li>
        <li>
          <%= select_month(nil, prompt: "Month")%>
        </li>
        <li>
          <%= select_year(nil, prompt: "Year", start_year: 1960, end_year: 1997)%>
        </li>
        <li><strong><%= label_tag "phone number" %></strong><%= text_tags("subject", "", "Enter your phone number here", "validate", true) %></li>
        <li><%= select_tag "City", options_for_select(["City", "Lagos"], "City") %>
        </li>
        <li><strong><%= label_tag "message" %></strong>
          <%= text_area_tag "message", nil, { placeholder: "Enter your message here", class: "validate", required: true } %>
        </li>
        <li>
        <button class="btn waves-effect" type="submit">SEND</button>
        </li>
      <% end %>
    </ul>
  </div>
</section>
