<section class="main row">
  <header class="center-align">
    <h3 class="center-align">
      Sign in to your account
    </h3>
    <p>
      Gain Unlimited access to the workdey community.
    </p>
  </header>
  <div class="col s5 offset-s1">
    <div class="row">
      <div class="auth login card" class="col s12">
        <div class="row">
          <%= form_for :session, url: signin_path, html: {class: "col s12"} do |f| %>
            <% if flash[:invalid].present? %>
              <div class="flash-invalid">
                <p>
                  <i class="material-icons alert-danger ">report_problem</i>
                  <%= flash[:invalid] %>
                </p>
              </div>
            <% end %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, required: true, placeholder: "Email Address" %>
                <i class="material-icons">mail</i>
              </div>

              <div class="input-field col s12">
                <%= f.password_field :password, required: true, placeholder: "Password" %>
                <i class="material-icons">lock</i>
              </div>

              <div class="col s12">
                <%= f.button raw("Sign in <i class='material-icons right'>lock_open</i>"), class: "btn waves-effect" %>
              </div>

              <div class="col s12 login-path">
                <p>Don't have an account? 
                  <%= link_to "Sign up", signup_path %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col s4 offset-s1 oauth">
    <div class="card">
      <div class="card-content">
        <p class="be-cool">
          Sign in with: 
        </p>
        <p>
          <%= link_to raw("<i class='fa fa-facebook-square'></i> Facebook"), "/auth/facebook", class: "btn btn-fb" %>
        </p>

        <p>
           <%= link_to raw("<i class='fa fa-google-plus-square'></i> Google"), "/auth/google_oauth2", class: "btn btn-goog" %>
        </p>
      </div>
    </div>
  </div>
</section>