<main>
  <%= render "partials/sidebar_dashboard" %>
  <div class="row">
    <section class="col m9 offset-m2">
      <h2>Task logs</h2>
      <% if current_user.taskee? %>
        <table>
          <thead>
            <tr>
              <td>Tasker</td>
              <td>Description</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <% tasker = User.find(task.tasker_id) %>
                <td><%= "#{tasker.firstname} #{tasker.lastname}" %></td>
                <td><%= task.task_desc %></td>
                <% status = task.status %>
                <% if task.status.downcase == "done" %>
                  <td class="teal-text text-darken-2"><i class='tiny material-icons'>done</i> <%= "#{status.downcase}" %></td>
                <% elsif task.status.downcase == "active"%>
                  <td class="cyan-text"><i class='tiny material-icons'>trending_flat</i> <%= "#{status.downcase}" %>
                </td>
                <% unless task.shared %>
                <td>
                <a href="<%= share_contact_path(task) %>" data-id="<%= task.id %>" id="share_contact" class="">Share Contact</a>
                </td>
                <% end %>
                <% elsif task.status.downcase == "inactive" %>
                  <td class="red-text"><i class='tiny material-icons'>not_interested</i> <%= "#{status.downcase}" %></td>
                <% elsif task.status.downcase == "rejected" %>
                  <td class="grey-text text-lighten-1"><i class='tiny material-icons'>thumb_down</i> <%= "#{status.downcase}" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table>
          <thead>
            <tr>
              <td><strong>Serial No</strong></td>
              <td><strong>Taskee Name</strong></td>
              <td><strong>Task Description</strong></td>
              <td><strong>Status</strong></td>
            </tr>
          </thead>
          <tbody>
            <% serial_no = 1 %>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= serial_no %></td>
                <% user = User.find(task.taskee_id) %>
                <td><%= taskee = "#{user.firstname} #{user.lastname}" %></td>
                <td><%= desc = task.task_desc %></td>
                <% details = { num: task.id, task: desc, taskee: taskee, user_id: user.id, id: task.id } %>
                  <% if task.status.downcase == "done" %>
                    <td><span>Done</span></td>
                  <% elsif task.status.downcase == "active" %>
                      <td><span class="cyan-text"><i class="tiny material-icons">trending_flat</i> <%= task.status.downcase %></span><br>
                      <% unless task.paid? %>
                        <%= link_to "Pay for this task", review_task_path(details) %>
                        <% end %></td>
                  <% elsif task.status.downcase == "inactive" %>
                      <td><span class="red-text"><i class="tiny material-icons">not_interested</i> <%= task.status.downcase %></span><br>
                      <% unless task.paid? %>
                        <%= link_to "Pay for this task", review_task_path(details) %>
                        <% end %></td>
                  <% end %>
              </tr>
              <% serial_no += 1 %>
            <% end %>
          </tbody>
      </table>
      <% end %>
    </section>
  </div>
</main>
