<main>
  <%= render "partials/sidebar_dashboard" %>
  <div class="row">
    <section class="col m9 offset-m2">
      <h2>Task logs</h2>
      <% if current_user.taskee? %>
        <table>
          <thead>
            <tr>
              <td>Tasker</td>
              <td>Description</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <%= task.tasker_details(self) %>
                <%= task.task_description(self) %>
                <%= task.task_status(self) %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table>
          <thead>
            <tr>
              <td>Serial No</td>
              <td>Taskee Name</td>
              <td>Task Description</td>
            </tr>
          </thead>
          <tbody>
            <% serial_no = 1 %>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= serial_no %></td>
                <% user = User.find(task.taskee_id) %>
                <td><%= taskee = "#{user.firstname} #{user.lastname}" %></td>
                <td><%= desc = task.task_desc %></td>
                <% details = { num: task.id, task: desc, taskee: taskee, user_id: user.id } %>
                <td>
                  <% if task.status.downcase == "done" %>
                    <span>Completed</span>
                  <% else %>
                    <%= link_to "Review", review_task_path(details) %>
                  <% end %>
                </td>
              </tr>
              <% serial_no += 1 %>
            <% end %>
          </tbody>
      </table>
      <% end %>
    </section>
  </div>
</main>
