<main>
  <section class="col m9 s12 offset-m1">
    <div class="row">
      <h4>Here is a list of your tasks, those that have been started are marked as <span><strong>active</strong></span></h4>
      <h4>while those are not yet started as marked as <span><strong>inactive</strong></span></h4>
      <ul class= "col m10 offset-m1" >
        <h2>My Tasks</h2>
        <table>
          <thead>
            <tr>
              <td><strong>Serial No</strong></td>
              <td><strong>Taskee Name</strong></td>
              <td><strong>Task Description</strong></td>
              <td><strong>Status</strong></td>
            </tr>
          </thead>
          <tbody>
            <% serial_no = 1 %>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= serial_no %></td>
                <% user = User.find(task.taskee_id) %>
                <td><%= taskee = "#{user.firstname} #{user.lastname}" %></td>
                <td><%= desc = task.task_desc %></td>
                <% details = { num: task.id, task: desc, taskee: taskee, user_id: user.id } %>
                <td>
                  <% if task.status.downcase == "done" %>
                    <span>Completed</span>
                  <% else %>
                    <%= task.status %><br>
                    <%= link_to "Review", review_task_path(details) %>
                  <% end %>
                </td>
              </tr>
              <% serial_no += 1 %>
            <% end %>
          </tbody>
        </table>
      </ul>
    </div>
  </section>
</main>
