

<main>
  <div class="container">
    <div class="container">
    <div class="col m12">
      <h3>Create Need</h3>
       <%= form_for @task do |f| %>
       <div class="row">
         <%= render "partials/error_msg", object:  @task%>
       </div>
      <div class="row">
          <div class="input-field col m6">
            <i class="material-icons prefix">edit_mode</i>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", :required => true %>
          </div>
        <div class=" input-field col m6">
          <i class="material-icons prefix">credit_card</i>
          <%= f.label :price %>
          <%= f.text_field :price, pattern: "[0-9]+", class: "form-control", :required => true %>
        </div>
        </div>
        <div class="row">
          <div class="input-field col m6">
            <i class="material-icons prefix">perm_contact_calendar</i>
            <%= f.label :start_date%>
             <%= f.date_field :start_date, class: "datepicker start_date", placeholder: "Start Date", required: true %>
          </div>
          <div class="input-field col m6">
            <i class="material-icons prefix">perm_contact_calendar</i>
            <%= f.label :end_date%>
             <%= f.date_field :end_date, class: "datepicker end_date", placeholder: "End Date", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m6">
            <i class="material-icons prefix">schedule</i>
            <%= f.label :time%>
             <%= f.text_field "time", class: "timepicker", id: "timepicker", placeholder: "Start Time"%>
          </div>
          <div class="input-field col m6">
            <i class="material-icons prefix">my_location</i>
            <label for="location"> Location(street, city) </label>
             <%= f.text_field "location" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m6">
            <i class="material-icons prefix">description</i>
             <%= f.text_area "description", class: "materialize-textarea", placeholder: "Enter the description of the task here", :required => true %>
          </div>
          <div class="input-field col m6 push-5 jiji">
            <i class="material-icons prefix ji">work</i>
            <%= f.collection_select :skillset_id, @skillsets, :id, :name, prompt: "Choose a skillset"%>
          </div>
        </div>

        <div class="row">
          <div class="text-center" style="text-align: center">
            <button class="btn waves-effect waves-light" type="submit">Post Need
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</main>
