<%#= render 'partials/sidebar_dashboard' %>
<main>
  <div class="container">
    <div class="row">
      <div class="col m8 offset-m2">
        <h3>Create new Task</h3>
        <%= form_for @task do |f| %>
          <%= render "partials/error_msg", object:  @task%>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">edit_mode</i>
              <%= f.text_field :name, class: "validate", required: true %>
              <%= f.label :name, "Title" %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">description</i>
              <%= f.text_area "description", class: "materialize-textarea validate", required: true %>
              <%= f.label :description, "Description" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">perm_contact_calendar</i>
              <%= f.date_field :start_date, class: "datepicker start_date", required: true %>
              <%= f.label :start_date, "Start Date" %>
            </div>
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">perm_contact_calendar</i>
              <%= f.date_field :end_date, class: "datepicker end_date", required: true %>
              <%= f.label :end_date, "End Date" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">schedule</i>
              <%= f.text_field "time", class: "timepicker", id: "timepicker" %>
              <%= f.label :time, "Start Time" %>
            </div>
            <div class="input-field col s12 m6 jiji">
              <i class="material-icons prefix ji">work</i>
              <%= f.collection_select :skillset_id, @skillsets, :id, :name, { prompt: "Choose a skillset" }, { required: true } %>
            </div>
          </div>
          <div class="row">
            <div class="col s12 grey-text"><i>Enter a <b>Price Range</b> or just the Minimum Price</i></div>
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">credit_card</i>
              <input name="task[min_price]" id="min_price" type="text" class="validate" pattern="[0-9]+" required>
              <label for="min_price">Minimum Price</label>
            </div>
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">credit_card</i>
              <input name="task[max_price]" id="max_price" type="text" class="validate" pattern="[0-9]+">
              <label for="max_price">Maximum Price</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 location">
              <i class="material-icons prefix">my_location</i>
              <label for="location"> Location (street, city) </label>
              <%= f.text_field "location" %>
              <%= f.text_field "latitude", hidden: true %>
              <%= f.text_field "longitude", hidden: true %>
              <div id="location-map"></div>
            </div>
          </div>
          <div class="row">
            <div class="right">
              <button class="btn waves-effect waves-light" type="submit">Create Task
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="google-maps-scripts"></div>
</main>
