<main>
<section class="col m9 s12 offset-m3">
  <div class="row">
    <% if @taskees.empty? %>
      <div class="col m8 offset-m2 s6">
        <p>Oooops! We could not find any Taskee for your Task right now. </p>
      </div>
    <% else %>
      <% @taskees.each do | taskee | %>
        <div class="taskee_card col m3 offset-m1 s6 left">
          <p><%= cl_image_tag taskee.image_url, { class: "responsive-img circle" }%></p>
          <p><%= taskee.firstname.concat(taskee.lastname).titleize %></p>
          <p><%= taskee.street_address + "," %></p>
          <p><%= taskee.city + "." %></p>
          <p>
             Average Rating: <br />
             <%=  taskee.average_rating(taskee.id) %>
           </p>
          <p>

              <%= link_to "View", user_profile_path(obfuscate(taskee_id: taskee.id)),
                          class: "btn waves-effect searched-taskee" %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
</main>
