<%= render 'partials/sidebar_dashboard' %>
<% if flash.present?  %>
  <% flash.each do | name | %>
    <div class="flash-mail">
      <i class="material-icons close-flash">close</i>
      <p><%= name.last %></p>
    </div>
  <% end %>
<% end %>
<main>
  <section class="container">
    <div class="row">
      <div class="col s10 offset-s2 broadcast-container">
        <div class="row">
          <% if current_user.tasker? %>
            <%= render "dashboard/tasks/partials/broadcast_btn" %>
          <% end %>
        </div>
        <div class="row">
          <div class="col s12">
            <%= render "dashboard/tasks/partials/task_details" %>
            <div class="row">
              <div class="col s12 m9 task-tags">
                <span><%= @task.skillset.name %></span>
              </div>
              <% if current_user.taskee? && !current_user.bids %>
                <div class="col s12 m3 right bid-button">
                  <button class="waves-effect waves-light btn-large red-btn broadcast-btn col s12" id="make_a_bid_submit" type="submit">Make a bid</button>
                </div>
              <% end %>
            </div>
            <hr>
            <div class="task-details-more">
              <%= render "dashboard/bids/partials/edit_form.html.erb" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
