<ul id="slide-out" class="side-nav sinav fixed">
<% if current_user.admin? %>

<li class='side-nav-button  <%= set_active_class(dashboard_path) %>'>
  <%= link_to "Home", dashboard_path %>
</li>
<li class='side-nav-button  <%= set_active_class(admin_applicants_path) %>'>
  <%= link_to "View Applications", admin_applicants_path  %>
</li>

<li class='side-nav-button  <%= set_active_class(certify_artisans_admin_ratings_path) %>'>
  <%= link_to "Certify Artisans", certify_artisans_admin_ratings_path %>
</li>

<li class='side-nav-button  <%= set_active_class(admin_questions_path) %><%= set_active_class(new_admin_question_path) %><%= set_active_class(preview_admin_questions_path) %>'>
  <%= link_to "Manage Questions", admin_questions_path %>
</li>

<% else %>

<li class="side-nav-button <%= set_active_class(dashboard_path) %>">
  <%= link_to "Home", dashboard_path %>
</li>

<li class="side-nav-button <%= set_active_class(profile_path) %>">
  <%= link_to "Edit Profile", profile_path %>
</li>

<% if current_user.tasker? %>

<li class="side-nav-button <%= set_active_class(new_service_path) %>">
  <%= link_to "Submit Request", new_service_path %>
</li>

<li class="side-nav-button <%= set_active_class(services_path) %>">
  <%= link_to "Pending Requests", services_path %>
</li>

<% end %>

<li class="side-nav-button <%= set_active_class(biddings_path) %>">
  <%= link_to "Biddings", biddings_path %>
</li>

<% if current_user.artisan? %>

<li class="side-nav-button <%= set_active_class( my_skillsets_path) %>">
  <%= link_to "My Skillset", my_skillsets_path %>
</li>

<li class="side-nav-button <%= set_active_class( dashboard_references_path ) %>">
  <%= link_to "My References", dashboard_references_path %>
</li>

<% else %>

<li class="side-nav-button <%= set_active_class( map_search_path ) %>">
  <%= link_to "Map Search", map_search_path %>
</li>

<li class="side-nav-button <%= set_active_class( artisans_path ) %>">
  <%= link_to "Artisan Skillsets", artisans_path %>
</li>

<% end %>

<li class="side-nav-button <%= set_active_class( my_tasks_path ) %>">
  <%= link_to "Task logs", my_tasks_path %>
</li>

<li class="side-nav-button <%= set_active_class( user_plans_path) %>">
  <%= link_to "Account Upgrades", user_plans_path %>
</li>

<% end %>
</ul>
