<section class="main row">
  <div class="col s6 offset-s3">
    <div class="row">
      <div class="auth signup card" class="col s12">
        <%= form_for @user do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :firstname %>
              <%= f.label :firstname %>
            </div>
            <div class="input-field col s12">
              <%= f.text_field :lastname %>
              <%= f.label :lastname %>
            </div>
            <div class="input-field col s12">
              <%= f.email_field :email %>
              <%= f.label :email %>
            </div>
            <div class="input-field col s12">
              <%= f.password_field :password %>
              <%= f.label :password %>
            </div>
            <%= f.submit %>
          </div>
        <% end %>
        <div class="col s12">
          <p><%= link_to raw("<i class='fa fa-facebook-square'></i> Facebook"), "/auth/facebook", class: "btn btn-fb" %></p>
          <p><%= link_to raw("<i class='fa fa-google-plus-square'></i> Google"), "/auth/google_oauth2", class: "btn btn-goog" %></p>
        </div>
      </div>
    </div>
  </div>
</section>
