<div class="container-large col s12">
  <div class="row">
    <h3 class="center-align">You can view, rank, add, edit and delete questions from this page</h3>
    <% @questions.each do |question| %>
    <div class="questions card z-depth-1 hoverable col s12" id="<%=question.rank%>">
      <h5><%= question.question %>
      </h5>
      <ol>
        <% question.options.each do |option| %>
        <li>
          <%= option %>
        </li>
        <% end %>
      </ol>

      <ul>
        <li class="chip">
          <% if question.required? %>
            Mandatory
          <% else %>
            Optional
          <% end %>
        </li>

        <li class="chip">
          <% if question.can_select_multiple? %>
            Multiple Options Selectable
          <% elsif question.options.empty? %>
            Open Text Field
          <% else %>
            Single Option Selectable
          <% end %>
        </li>


          <% if question.can_select_multiple? && question.options.include?("Other") %>
            <li class="chip">
              Includes "Write In" Option
            </li>
          <% end %>

      </ul>

      <div class="card-action red-text">
        <%= link_to "Edit", edit_admin_question_path(question), class: "" %>
        <%= link_to "Move Up", promote_admin_question_path(question), method: :patch %>
        <%= link_to "Move Down", demote_admin_question_path(question), method: :patch %>
        <%= link_to "Delete", admin_question_path(question), method: :delete, class: "red-text text-accent-2", data: { confirm: "Are you sure you want to delete this question?" } %>
      </div>
    </div>
    <% end %>

    <%= link_to "Add New Question", new_admin_question_path, class: "btn view-btn left-align" %>
  </div>
</div>
