<div class="container-large col s12">
  <%= form_for [:admin, @question], url: { action: "create" }, html: { class: "row z-depth-1 hoverable questions" } do |f| %>

    <h4 class="row center-align"><strong>Create new question</strong></h4>

    <div class="input-field">
      <%= f.text_field :question %>
      <%= f.label :question, "Question" %>
    </div>

    <h5>Options</h5>
    <%= link_to "#", class: "waves-effect waves-light btn teal small", id: "add_option", onclick: 'addInputBox("")' do %>
      Add Option<i class="material-icons left">add</i>
    <% end %>

    <h6 id="options_prompt">Click on 'ADD OPTION' to add choices for multiple-choice (closed) questions below</h6>

    <div id="question_options" class="row">

      <% @question.options.each_with_index do |option, index| %>
        <div class="input-field row" id="<%=option%>">
          <%= text_field_tag "question[options][]", option, class: "col s9 m9 l9" %>
          <a class='waves-effect waves-light btn red small col s3 m3 l3' onclick='removeInputBox("<%=option%>")'>
            <i class='material-icons left'>cancel</i>Remove
          </a>
        </div>
      <% end %>

    </div>

      <h5>Attributes</h5>

      <div class="input-field row">
        <%= f.check_box :required %>
        <%= f.label :required, "Mandatory" %>
      </div>

      <div class="input-field row">
        <%= f.check_box :can_select_multiple %>
        <%= f.label :can_select_multiple, "Enable Multiple Selections" %>
      </div>

      <div class="input-field row">
        <%= f.check_box :include_other %>
        <%= f.label :include_other, "Include Open Write-In Option" %>
      </div>

    <%= f.submit "Save", class: "btn view-btn teal row center-align" %>
  <% end %>
</div>
