<div class="container-large col s12">
  <%= form_for [:admin, @question], url: { action: "create" }, html: { class: "row z-depth-1 hoverable questions" } do |f| %>

    <h4 class="row center-align"><strong>Create new question</strong></h4>



    <div class="input-field">
      <%= f.text_field :question %>
      <%= f.label :question, "Question" %>
    </div>

    <h5>Options</h5>

    <% if @question.options.any? %>
      <% @question.options.each do |option| %>
        <div class="input-field">
          <%= f.label :question, option %>
          <%= f.text_field :question %>
        </div>
      <% end %>
    <% else %>
      <%=  %>
    <% end %>

      <h5>Attributes</h5>

      <div class="input-field row">
        <%= f.check_box :required %>
        <%= f.label :required, "Mandatory" %>
      </div>

      <div class="input-field row">
        <%= f.check_box :can_select_multiple %>
        <%= f.label :can_select_multiple, "Enable Multiple Selections" %>
      </div>

      <div class="input-field row">
        <%= f.check_box :include_other %>
        <%= f.label :include_other, "Include Open Write-In Option" %>
      </div>

    <%= f.submit "Save", class: "btn view-btn teal row center-align" %>
  <% end %>
</div>
