<tr>
  <td><%= bidding.name %></td>
  <td><%= bidding.description %></td>
  <td><%= bidding.price_range %></td>
  <td>
    <%= link_to edit_bidding_path(bidding)  do %>
      <i class="material-icons black-text">mode_edit</i>
    <% end %>
  </td>
  <td>
    <%= link_to bidding_path(bidding), method: :delete,
      data: {confirm: "Really want to delete this bid?"} do %>
      <i class="material-icons red-text">delete</i>
    <% end %>
  </td>
</tr>
