<%= form_for(Bidding.new, remote: true) do |f| %>
  <%= f.fields_for :tasks do |tasks_form| %>
    <div class="input-field">
      <%= tasks_form.text_field :name %>
      <%= tasks_form.label :name %>
    </div>
  <% end %>
    <div class="input-field">
      <%= f.text_field :description, class: 'materialize-textarea' %>
      <%= f.label :description %>
    </div>
  <div class="input-field">
    <%= f.text_field :price_range %>
    <%= f.label :price_range %>
  </div>
  <%= f.submit class: 'btn' do %>
    <span>Add Bid</span>
  <% end %>
<% end %>
