<div class="row">
  <%= form_for @reference, html: { class: "col s12" } do |f| %>
    <h4>1.) Input details of your reference</h4>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :firstname %>
        <%= f.label :firstname %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :lastname %>
        <%= f.label :lastname %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.email_field :email %>
        <%= f.label :email %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :relationship %>
        <%= f.label :relationship %>
      </div>
    </div>
    <h4>2.) Choose skills to be verified</h4>
    <div class="row">
      <% if @taskee_skillsets.present? %>
      <div class="col s12">
        <% @taskee_skillsets.each do |skillset| %>
          <p>
            <%= check_box_tag 'reference[skillsets][]', skillset.name, false, id: "reference_skillsets_#{skillset.name}" %>
            <%= label_tag "reference_skillsets_#{skillset.name}", skillset.name %>
          </p>
        <% end %>
      </div>
      <% else %>
        <p>
          You don't have any skill set. Please <%= link_to "add a skill", new_skillset_path %> to continue.
        </p>
      <% end %>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Send Email
      <i class="material-icons right">send</i>
    </button>
  <% end %>
</div>
