<main>
  <div class="row section">
    <div class="col s6 offset-s1">
      <h3><span><strong>Reviewer: &nbsp;</strong></span><%= @review.reviewer_name(current_user) %></h3>
    </div>
    <div class="col s5">
      <h3><span><strong>Reviewee: &nbsp;</strong></span><%= @review.reviewee_name(current_user) %></h3>
    </div>
  </div>
    <div class="row">
      <div class="col section offset-s1 card-panel hoverable container">
          <h6><b>Review</b></h6>
        <div class="col s12">
          <h3 class="center-align"><strong><%= @review.body %></strong></h3>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col offset-s1"
      <h5><b>&nbsp;&nbsp;Response</b></h5>
      <p>&nbsp;&nbsp;<%= @review.respond %></p>
    </div>
    </div>
      <% unless current_user.id == @review.reviewer_id || @review.response.present? %>
        <%= render partial: 'response_form', locals: { review: @review } %>
      <% end %>
</main>






