<main>
  <%= render "partials/sidebar_dashboard" %>
  <section class="main container center-align pricing-plans">
    <div class="row">
      <section class="col s12">
        <div class="row">
        <h2 class="header">User Plans</h2>
          <% if current_user.user_type == "taskee" %>
            <div class="col m4">
              <div class="card <%= "z-depth-4" if current_user.novice? %>">
                <div class="card-image purple waves-effect">
                  <div class="card-title">Novice</div>
                  <div class="price">Free</div>
                </div>
                <div class="card-content">
                  <ul class="collection">
                    <li class="collection-item">Receive 10 tasks</li>
                    <li class="collection-item">3 task types</li>
                    <li class="collection-item">Earn Reputation</li>
                  </ul>
                  <h5><span class="red-text">Default Plan</span></h5>
                </div>
              </div>
            </div>
            <div class="col m4">
              <div class="card <%= "z-depth-4" if current_user.medial? %>">
                  <div class="card-image cyan waves-effect">
                    <div class="card-title">Medial</div>
                    <div class="price"><sup>$</sup>20<sub>/yr</sub></div>
                  </div>
                  <div class="card-content">
                    <ul class="collection">
                      <li class="collection-item">Receive 50 tasks</li>
                      <li class="collection-item">All task types</li>
                      <li class="collection-item">Earn Reputation</li>
                    </ul>
                    <%= form_tag({controller: "user_plans", action: "create"}, method: "post") do %>
                      <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
                      data-name="Workdey inc."
                      data-amount="2000"
                      data-locale="auto">
                      </script>
                      <%= hidden_field_tag :plan, "medial" %>
                    <% end %>

                  </div>
                </div>
              </div>
              <div class="col m4">
                <div class="card <%= "z-depth-4" if current_user.maestro? %>">
                    <div class="card-image green waves-effect">
                      <div class="card-title">Maestro</div>
                      <div class="price"><sup>$</sup>30<sub>/yr</sub></div>
                    </div>
                    <div class="card-content">
                      <ul class="collection">
                        <li class="collection-item">Receive Unlimited tasks</li>
                        <li class="collection-item">All task types</li>
                        <li class="collection-item">Earn Reputation</li>
                      </ul>
                      <%= form_tag({controller: "user_plans", action: "create"}, method: "post") do %>
                      <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
                      data-name="Workdey inc."
                      data-amount="3000"
                      data-locale="auto">
                      </script>
                      <%= hidden_field_tag :plan, "maestro" %>
                    <% end %>
                    </div>
                  </div>
              </div>
            </div>
          <% elsif current_user.user_type == "tasker" %>
            <div class="col m4">
              <div class="card  <%= "z-depth-4" if current_user.novice? %>" >
                <div class="card-image purple waves-effect">
                  <div class="card-title">Novice</div>
                  <div class="price">Free</div>
                </div>
                <div class="card-content">
                  <ul class="collection">
                    <li class="collection-item">Assign 10 tasks</li>
                    <li class="collection-item">Find taskees by reputation</li>
                    <li class="collection-item">3 task types</li>
                    <li class="collection-item">Rate taskees</li>
                  </ul>
                  <h5> <span class="red-text">Default Plan</span></h5>
                </div>
              </div>
            </div>
            <div class="col m4">
              <div class="card <%= "z-depth-4" if current_user.medial? %>">
                  <div class="card-image cyan waves-effect">
                    <div class="card-title">Medial</div>
                    <div class="price"><sup>$</sup>20<sub>/yr</sub></div>
                  </div>
                  <div class="card-content">
                    <ul class="collection">
                      <li class="collection-item">Assign 50 tasks</li>
                      <li class="collection-item">Find taskees by reputation</li>
                      <li class="collection-item">All task types</li>
                      <li class="collection-item">Rate taskees</li>
                    </ul>
                    <!-- <button class="waves-effect waves-light btn">Select Plan</button> -->
                    <%= form_tag({controller: "user_plans", action: "create"}, method: "post") do %>
                      <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
                      data-name="Workdey inc."
                      data-amount="2000"
                      data-locale="auto">
                      </script>
                      <%= hidden_field_tag :plan, "medial" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col m4">
                <div class="card <%= "z-depth-4" if current_user.maestro? %>">
                    <div class="card-image green waves-effect">
                      <div class="card-title">Maestro</div>
                      <div class="price"><sup>$</sup>30<sub>/yr</sub></div>
                    </div>
                    <div class="card-content">
                      <ul class="collection">
                        <li class="collection-item">Assign Unlimited tasks</li>
                        <li class="collection-item">Find taskees by reputation</li>
                        <li class="collection-item">All task types</li>
                        <li class="collection-item">Rate taskees</li>
                      </ul>
                      <%= form_tag({controller: "user_plans", action: "create"}, method: "post") do %>
                        <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
                        data-name="Workdey inc."
                        data-amount="3000"
                        data-locale="auto">
                        </script>
                        <%= hidden_field_tag :plan, "maestro" %>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </section>
    </div>
  </section>
</main>
